<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authenticate for <%= proxyName %> </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <p class="title">Authenticate for <%= proxyName %></p>
    <form action="/login" method="post" class="c">
        <input type="text" name="username" id="username" placeholder="janed">
        <input type="password" name="password" id="password">
        <button>Login</button>
    </form>
</body>
</html>