/* 
* auth-proxy CSS under MIT license
* Based on Lit v0.1 with more things
*/

:root {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary-color: #3490DC;
    --light: #f5f5f5;
    --darker-light: #eeeeee;
}

.flex {
    display: flex;
}

.shadow {
    /* from https://daniellockyer.com/ */
    box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
}

body {
    background: var(--light);
    margin: 0px;
}

ul.links li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.25em;
}
ul.links {
    display: table;
    border-spacing: 1em;
    padding: 0px;
}

.title {
    text-align: center;
    text-decoration-line: underline;
    font: 500 2.25em var(--font);
    line-height: 1.4;
    margin: 10px 0px;
}

.subtitle {
    text-align: center;
    font: 500 1.5em var(--font);
    line-height: 1.4;
    margin: 10px 0px;
}

.subsubtitle {
    text-align: center;
    font: 500 1.25em var(--font);
    line-height: 1.4;
    margin: 0px;
}

* + *{
    box-sizing: border-box;
    margin: .5em 0;
}

.w-100,
.row {
    width: 100%;
}

.card:focus,
hr {
    outline: 0;
    border: solid var(--primary-color);
}

.card,
pre {
    padding: 1em;
    border: solid var(--darker-light);
    background: var(--darker-light);
}

a:hover,
.btn:hover {
    opacity: .6;
}

.c {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 var(--font);
}
.c-tiny {
    max-width: 30em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 var(--font);
}


h4 {
    font: 300 1.5em var(--font);
}

h3 {
    font: 300 2em var(--font);
}

h2 {
    font: 300 2.2em var(--font);
}

h1 {
    font: 300 2.5em var(--font);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.btn.primary {
    color: white;
    background: var(--primary-color);
    border: solid var(--primary-color);
}

pre {
    overflow: auto;
}

td,
th {
    padding: 1em;
    text-align: left;
    border-bottom: solid var(--light);
}

.btn {
    padding: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: white;
    border: solid;
    font: .7em var(--font);
    cursor:pointer;
}
